{% extends 'pages/profile/profile.html' %}
{% load static %}
{% load general %}

{% block profile_header %}
    <link rel="stylesheet" href="{% static "css/sign.css" %}">

    <style>
        button {
            background: #1593E8;
            border: 0;
            border-radius: 2px;
            box-shadow: none;
            padding: 1em 3em;
            color: white;
            font-size: 1em;
            margin-bottom: 5%;
            font-family: 'Andada Pro', 'Nunito', sans-serif;
            font-family: 'Noto Sans', sans-serif;
            text-transform: uppercase;
        }
    </style>
{% endblock %}
{% block profile_content %}
    <form method="post" action="{% url 'choose_company' %}" style="text-align: center; width: 50%; margin-left: 25%">
        {% csrf_token %}
        <input type="text" name="id" placeholder="ID организации"><br>
        <button type="submit">Отправить запрос</button>
    </form>
{% endblock %}