{% extends 'pages/profile/profile.html' %}
{% load static %}
{% load general %}

{% block profile_header %}
    <style>
        button {
            background: #1593E8;
            border: 0;
            border-radius: 2px;
            box-shadow: none;
            padding: 1em 3em;
            color: white;
            font-size: 1em;
            margin-bottom: 5%;
            font-family: 'Andada Pro', 'Nunito', sans-serif;
            font-family: 'Noto Sans', sans-serif;
            text-transform: uppercase;
        }

        a {
            text-decoration: none;
        }
    </style>
{% endblock %}
{% block block_name %}
    <br>
    <span style="font-size: 0.5em;color: #868686;">ID: {% if profile.company is None %} {{ constance.PROFILE_STATUS|get_item:profile.status }} {% else %}
        {{ profile.company.id }} {% endif %}</span>
{% endblock %}

{% block profile_content %}
    {% if profile.company is None %}
        <div style="text-align: center; margin-top: 20%;">
            Вы не привязаны ни к одной организации.<br><br>
            <a href="{% url 'choose_company' %}">
                <button>Отправить запрос</button>
            </a>
            <a href="{% url 'create_company' %}">
                <button style="background: #79D91A">Создать</button>
            </a>
        </div>
    {% else %}
        <b>Название:</b> {{ profile.company.name }}
    {% endif %}
{% endblock %}