{% extends 'index.html' %}
{% load static %}
{% load general %}

{% block header %}
    <link rel="stylesheet" href="{% static "css/profile.css" %}">
    {% block profile_header %} {% endblock %}
{% endblock %}

{% block content %}
    <div class="right_block">
        <div class="profile_name">
            <img src="{% media profile.avatar|stringformat:"s" %}"
                 style="border: 3px solid #fafafa; height: 8vw; width: 8vw; border-radius: 100%">
            <h3 style="margin-bottom: 0">{{ profile.name }} {{ profile.surname }}</h3>
            <h5 style="margin-top: 0;">Организация: {% if profile.status != 2 %}
                {{ constance.PROFILE_STATUS|get_item:profile.status }}{% else %}
                {{ profile.company.name }} {% endif %}</h5>
        </div>
        <ul class="menu">
            {% for PAGE_NAME_, PAGE_URL in constance.PAGES %}
                <li>
                    <a style="{% if PAGE_NAME == PAGE_NAME_ %}filter: invert(42%) sepia(95%) saturate(733%) hue-rotate(167deg) brightness(99%) contrast(92%);{% endif %}"
                       href="{% url PAGE_URL %}">
                        <img style="float: left; display: inline-block; height: 1.8em;"
                             src="{% media 'menu/'|add:PAGE_URL %}.png">
                        <span style="display: inline-block; float: left; margin-left: 1em; margin-top: 0.2em;">
                        {{ PAGE_NAME_ }}
                    </span>
                    </a></li><br>
            {% endfor %}
        </ul>
    </div>
    <div class="main_block">
        <div class="block_name">
            {{ PAGE_NAME }}
            {% block block_name %}
            {% endblock %}
        </div>
        {% if constance.SUBPAGES|is_item:PAGE_NAME %}
            <div class="main_block_menu">
                {% for name, id in constance.SUBPAGES|get_item:PAGE_NAME %}
                    <a href="{% url constance.PAGES_DICT|get_item:PAGE_NAME %}#{{ id }}" class="a_item">
                        <div class="item" id="menu_{{ id }}">{{ name }}</div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
        <div class="main_content">
            {% block profile_content %}
            {% endblock %}
        </div>
    </div>
    <script type="text/javascript">
        var arr = [{% for name, id in constance.SUBPAGES|get_item:PAGE_NAME  %} '{{ id }}', {% endfor %}];

        function update_subpages(id_hash) {
            for (var i = 0; i < arr.length; i++) {
                if (id_hash === arr[i]) {
                    $('#' + arr[i]).css('display', 'inline-block');
                    $('#menu_' + arr[i]).attr('class', 'item chosen');
                } else {
                    $('#' + arr[i]).css('display', 'none');
                    $('#menu_' + arr[i]).attr('class', 'item');
                }
            }
            if (id_hash === '' && arr.length > 0) {
                $('#' + arr[0]).css('display', 'inline-block');
                $('#menu_' + arr[0]).attr('class', 'item chosen');
            }
        }

        update_subpages(window.location.hash.substr(1));

        $('.item').on("click", function () {
            update_subpages($(this).attr('id').substr(5));
        });
    </script>
{% endblock %}