{% extends 'pages/profile/profile.html' %}
{% load static %}
{% load general %}

{% block profile_header %}
    <link rel="stylesheet" href="{% static "css/sign.css" %}">
    <link rel="stylesheet" href="{% static "css/profile/company/company.css" %}">
    <link rel="stylesheet" href="{% static "css/profile/teams/teams.css" %}">
    <style>
        form {
            width: 50%;
            margin-left: 25%;
        }

        #quiz_list td:first-child {
            width: 6%;
        }

        #quiz_list td:nth-child(2) {
            width: 46%;
        }

        #quiz_list td:nth-child(3) {
            width: 26%;
        }

        #quiz_list td:nth-child(4) {
            width: 6%;
        }
    </style>
{% endblock %}
{% block block_name %}
{% endblock %}

{% block profile_content %}
    {% if profile.status != 2 %}
        <div style="text-align: center; margin-top: 20%;">
            Вы не привязаны ни к одной организации.<br><br>
            <a href="{% url 'choose_company' %}">
                <button>Отправить запрос</button>
            </a>
            <a href="{% url 'create_company' %}">
                <button style="background: #79D91A">Создать</button>
            </a>
        </div>
    {% else %}
        <div class="sub_block" id="quiz_list">
            <table>
                <tr>
                    <td>ID</td>
                    <td>Команда</td>
                    <td>Время</td>
                    <td></td>
                </tr>
                {% for team, event in quiz_list %}
                    {% for quiz in event %}
                        <tr>
                            <td>{{ quiz.id }}</td>
                            <td>{{ quiz.team.name }}</td>
                            <td>{{ quiz.datetime }} UTC</td>
                            <td><a href="{% url 'quiz' quiz.id %}">Перейти</a></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}